@model InmobiliariaAlvarezM.Models.Pago

@{
    ViewData["Title"] = "Editar";
}


<h1>Editar</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="IdPago" class="form-control" disabled />
                <span asp-validation-for="IdPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDePago" class="control-label"></label>
                <input type="date" asp-for="FechaDePago" class="form-control" />
                <span asp-validation-for="FechaDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label">Número de Contrato</label>
                <input readonly asp-for="IdContrato" class="form-control" />
                <span asp-validation-for="IdContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Inquilino" class="control-label">Seleccione Inquilino</label>
                <select asp-for="Contrato.IdInquilino" class="form-control">
                    @foreach(Inquilino item in (IList<Inquilino>)ViewBag.inquilino)
            {
                <option value=@item.IdInquilino>@item.Apellido @item.Nombre</option>
            }
                    </select>
                <span asp-validation-for="Contrato.IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Inmueble" class="control-label">Seleccione el inmueble</label>
                <select asp-for="Contrato.IdInmueble" class="form-control">
                    @foreach(Inmueble item in (IList<Inmueble>)ViewBag.inmueble)
            {
                <option value=@item.IdInmueble>@item.Direccion</option>
            }
                </select>
                <span asp-validation-for="Contrato.IdInmueble" class="text-danger"></span>
                </div>
            <div>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}